.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.image-home{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    z-index: -1;
}
.women-pic{
    background-position: center;
    filter: blur(3.5px);
    margin-left: 110px;
    background-position: center top;
    position: fixed;
}

button{
    background-color: red;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 6px;
    font-size: 20px;
    justify-content: center;
    margin-top: 20px;
}
.container{
    margin-left: 40px;
    transform: translateX(-50%);
}

.phone{
    transform: translateX(-5px);
    margin-top: 30px;
}
.google{
    transform: translateX(-30px);
    margin-left: 60px;
}

.link{
    margin-left: 25px;
}
.gif{
    width: 250px;
    height: 150px;
    transform: translate(-250px);
    
}
@media(max-width:640px){
    .home .container{
        transform: translateX(-50px);
    }

    .link{
        margin-left: 20px;
    }
    .phone{
        transform: translateX(-20px);
    }
    .women-pic{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .google{
        margin-left: 30px;
    }
    .gif{
        width: 200px;
        height: 100px;
        transform: translateX(-50px);
    }
}