.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.image-home{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    z-index: -1;
}
.women-pic{
    background-position: center;
    filter: blur(3.5px);
    margin-left: 110px;
    background-position: center top;
    position: fixed;
}

