.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.image-home{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    z-index: -1;
}
.women-pic{
    background-position: center;
    filter: blur(3.5px);
    margin-left: 110px;
    background-position: center top;
    position: fixed;
}

button{
    background-color: red;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 6px;
    font-size: 20px;
    justify-content: center;
    margin-top: 20px;
}

.container{
    width: 600px;
    height: 250px;
    justify-content: center;
    text-align: center;
    align-items: center;
    transform: translate(-100%);
    margin-top: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    

}
.phone{
    transform: translateX(-60px);
    margin-top: 30px;
}
.google{
    transform: translateX(-60px);
    margin-left: 60px;
}

@media(max-width:640px){
    .container{
        width: 600px;
        height: 250px;
        margin-left: 190px;
        margin-top: 0px;
    }

    .link{
        margin-left: -70px;
    }
    .phone{
        transform: translateX(-20px);
    }
    .women-pic{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}