.App{
  font-family: sans-serif;
  text-align: center;
}
.otpInput{
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  font-size: 1.2rem;
}
.container{
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  justify-content: center;
}
button{
  background-color: blueviolet;
  padding: 10px;
  border: none;
  border-radius: 10px;
}